{
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "plugins": [
        "jest",
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "google"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "indent": ["warn", 4],
        "require-jsdoc": "warn",
        "object-curly-spacing": ["warn", "always"],
        "block-spacing": ["warn", "always"],
        "max-len": ["warn", { "ignoreComments": true, "ignoreStrings": true }],
    },
    "settings": {
        "react": {
            "version": "17.0.2"
        }
    }
}
